html,
body {
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.registration-form,
.registration-input,
.registration-submit {
    box-sizing: border-box;
}

.registration-form {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 300px;
}

.registration-input {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem;
}

.registration-submit {
    display: block;
    margin: 0 auto;
    padding: 0.5rem;
    width: 300px;
}