extends layout

block content
    h1(class='ur-title') User registration
        
    form(class='registration-form', action='/users', method='POST')
        input(class='registration-input', type='text', name='username', placeholder='Username', required)
        input(class='registration-input', type='text', name='firstName', placeholder='First name', required)
        input(class='registration-input', type='text', name='lastName', placeholder='Last name', required)
        input(class='registration-input', type='email', name='email', placeholder='Email', required)
        input(class='registration-submit', type='submit', name='registerUser', value='Register', required)